# === Python (Кэш и компиляция) ===
# Сюда входят автоматически создаваемые папки __pycache__ и файлы байт-кода
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/
dist/
build/

# === Виртуальное окружение ===
# Исключаем локальную папку зависимостей, чтобы не отправлять мегабайты библиотек в Git
.venv/
venv/
ENV/
env/

# === Настройки сред разработки (IDE) ===
# Исключаем конфигурации PyCharm, VS Code и других редакторов
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# === Логи и временные файлы системы ===
# Если ваше приложение начнет писать логи в корень или появятся системные файлы
*.log
.DS_Store
Thumbs.db

# Исключаем динамический файл настроек и кэша данных
app/assets/config.json